/.idea/
/assets/profile images/*.png
*.pyc
ffmpeg/ffmpeg.exe
temp/thumbnails/*.png
history/thumbnails/*.png
assets/profile images/*.png
setup build.iss
versioninfo-changed.txt
build
.sconsign-312.dblite
@link_input.txt
build_definitions.h
scons-report.txt
scons-error-report.pickle
nuitka-crash-report.xml