# PyTube Downloader dependencies
# For development: pip install -e ".[dev]"
# For Windows notifications/titlebar: pip install -e ".[windows]"
# For standard install: pip install -e .

customtkinter
pillow
pyautogui
pystray
pyperclip
pytubefix
ctkchart
requests
